.products {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
    }

    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
    }
}
