.product-card {
    display: flex;
    flex-direction: column;

    padding: 2%;
    flex: 1 16%;

    background-color: #fff;
}
.product-card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.product-image img {
    width: 100%;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .product-card {
        flex: 1 46%;
        padding: 0;
    }
}

@media (max-width: 920px) {
    .product-card {
        flex: 1 21%;
        padding: 0;
        margin: 0;
    }

    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }
}

.cart-btn {
    height: 1.6rem;
    width: 6rem;
    border: 1px solid rgba(34, 34, 34, 0.555);
    border-radius: 1rem;
    margin: 0.1rem 0;
    text-align: center;
    font-size: 80%;
}

.remove-btn {
    background-color: rgb(245, 115, 115);
}
.item-Info {
    display: inline;
    margin: 0.2rem 0.1rem 0.3rem 0.1rem;
}
.item-Info:hover,
.remove-btn:hover,
.add-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 0 #383838 inset, 0 0 1px 1px #848584;
    border: 1px solid #848584;
}

@media (max-width: 500px) {
    .item-Info {
        display: inline;
    }
}
